# Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc

# Local Configs
.env
backend/.env
frontend/.env
frontend/.env.local

# Databases & Caches
backend/data/audio_cache/
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db

# Frontend dependencies
node_modules/
dist/
build/
